@charset "utf-8";

/* CSS Document */



.fl{ float:left;}

.fr{ float:right;}

.header{width:100%;background-image:url(../images/hreadbg.png);background-size:cover;overflow: hidden;}
.hea1 {width:8%;margin-left:15px;float:left;}
.hea1  img{width:100%; margin-top:-15px;}
.hea2{float: left;width: 58%; height: 53px; margin-left:6%;}
.hea2 img{width: 100%;margin-top:-12.5px; padding-right: 8%; border-right: 1px solid #71bbf5;box-shadow: 1px 0 0 0 #4c8ec0;}
.hea4 {margin-right:15px; float: right; width: 16%; height: 53px;}
.hea4 img{width: 100%;margin-top:-14px;}


.dwn{width:100%; z-index:999; overflow:hidden; position:fixed; bottom:0; text-align:center; margin:0 auto;margin-left: -0rem;bottom: 0;}
.fix:after{ clear:both; content:""; height:0px; display:block; overflow:hidden; visibility:hidden; }
.fix{*zoom:1;}
.dwn ul {width:7.5rem;}
.dwn ul li{width: 33%;float: left;}
.dwn a{ width: 100%;height: 100%; font-size:0.32rem; color:#fff;display: block;font-family: "微软雅黑" ;padding-top: 0.3rem;}
.dwn li{ height:1.32rem; text-align:center; float:left; font-size:0.3rem;}
.dwn li:nth-of-type(1) a{background: #eb3081;}
.dwn li:nth-of-type(2) a{background: #6100b1;}
.dwn li:nth-of-type(3) a{background: #ea0001;}
.do_o_o img{width:30%;}
.do_o_s img{width: 26%;}
.do_o_t img{width: 28%;}




/*.bottom .con{ margin:0 auto; max-width:6.4rem; height:1rem; border-top:1px solid #e9e9e9;}

.bottom .con li{ float:left; display:inline; width:25%; text-align:center; padding-top:0.18rem}

.bottom .con li a{ display:block; width:100%; color:#262433}

.bottom .con li a span{display:block;}

.bottom .con li a .t{font-size:0.34rem; height:0.34rem; line-height:0.34rem;}

.bottom .con li a .n{ font-size:0.18rem; line-height:0.25rem; font-family:"微软雅黑"}



.bottom .active a{color:#9866b4 !important;}*/