html{ font-size:100px;}
body {font-family:微软雅黑;opacity:0;filter:alpha(opacity=0);font-size:0.01rem;}
.hs{ color:#ff2f2f;}
.hs1{color:#ff6900}
body,p,h1,h2,h3,h4,h5,h6,dl,dd{ margin:0;}
ul,ol,li{list-style-type: none; margin:0; padding:0}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration: none; color:#646060;-webkit-tap-highlight-color:rgba(0,0,0,0); }
img{border:none;vertical-align:top; width:100%}

.fl{ float:left;}
.fr{ float:right;}
.fix:after{ clear:both; content:"."; height:0px; display:block; overflow:hidden; visibility:hidden }
.fix{*zoom:1;}

.wrap{ max-width:640px;margin:0 auto; position:relative;overflow:hidden}
.nav{ position:absolute; padding-top:0.3rem; width:100%;top:0; bottom:0; background:#262433; z-index:1}
.head{ width:100%; height:0.9rem;line-height:0.9rem; background:#262433; text-align:center; position:relative; z-index:3}
.bottom{ width:100%; height:1rem; background:#fff; position:fixed; left:0; bottom:0px; z-index:99;}
.head h1{ display:inline-block;height:0.7rem; width:36.5625%;}
.head h1 img,.head a img{ vertical-align:middle}
.head a:first-child{ position:absolute; width:0.3rem; height:0.7rem; left:0.32rem;}
.head a:last-child{ position:absolute;  width:0.3rem; height:0.7rem; right:0.32rem;}

.nav a{ position:relative;width:100%; display:block; box-sizing:border-box; padding-left:1.42rem; height:0.75rem; line-height:0.75rem; font-size:0.3rem; color:#cacaca;} 
.nav a em{ position:absolute; width:0.37rem; height:0.37rem; left:0.85rem; top:0.21rem;}
.nav a em:nth-of-type(1){ display:block}
.nav a em:nth-of-type(2){ display:none}
.nav a.active em:nth-of-type(1){ display:none}
.nav a.active em:nth-of-type(2){ display:block}
.nav a.active font{ color:#c375f2}

