@charset "utf-8";
/*公共样式部分*/
/**{ margin:0; padding:0}
body { font-size:12px;font-family:"Microsoft YaHei","Helvetica Neue", Helvetica, STHeiTi, sans-serif; -webkit-text-size-adjust:none;}
a,a:link,a:visited,a:hover,a:active {text-decoration: none;}
h1 {font-size: 1.4em;text-align: center;color: #000;}
small {font-size: 0.875em;}
img {max-width: 100%;width: 100%;-ms-interpolation-mode: bicubic; border:none; vertical-align:top;}
img {max-width: 100%;height: auto;}
ul,li,dt,dl,dd{list-style-type: none; margin: 0px; padding: 0px; background:none; }*/

.swt_box{width:320px;height:255px;position:fixed;display:none;left:50%;top:50%;margin:-122px 0px 0px -160px;background:#fff;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.2);box-shadow:0px 0px 20px rgba(0,0,0,0.2);-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.2);-ms-box-shadow:0px 0px 20px rgba(0,0,0,0.2);-o-box-shadow:0px 0px 20px rgba(0,0,0,0.2);-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;border-radius:20px;transition:all ease .5s;-webkit-transition:all ease .5s;-moz-transition:all ease .5s;-ms-transition:all ease .5s;-o-transition:all ease .5s;z-index:999999999999;}
.swt_box dl{width:100%;height:95%;margin:auto;padding-top:5%;position:relative;}
.swt_box dl dt{font-size:24px;line-height:35px;color:#991F8E;text-align:center;}
.swt_box dl dt span{font-size:22px;}
.swt_box dl dd{font-size:22px;line-height:32px;color:#464646;text-align:center;}
.swt_box dl .setTime{width:90%;font-size:14px;line-height:35px;margin:0.5% auto 2% auto;border-bottom:1px solid #CACACA;}
.swt_box dl dd strong{color:#5658cf;}
.swt_box dl .swt_link{width:100%;position:absolute;left:0px;bottom:0px;overflow:hidden;}
.swt_box dl .swt_link a{display:block;width:50%;float:left;color:#fff;font-size:24px;line-height:47px;text-align:center;}
.swt_box dl .swt_link a:nth-child(1){background:#aa41a1;border-radius:0 0 0 20px;-webkit-border-radius:0 0 0 20px;-moz-border-radius:0 0 0 20px;-ms-border-radius:0 0 0 20px;-o-border-radius:0 0 0 20px;}
.swt_box dl .swt_link a:nth-child(2){background:#5658CF;border-radius:0 0 20px 0;-webkit-border-radius:0 0 20px 0;-moz-border-radius:0 0 20px 0;-ms-border-radius:0 0 20px 0;-o-border-radius:0 0 20px 0;}
.swt_box dl .swt_link a img{width:22%;margin-right:1.5%;vertical-align:-7px;}
/*.swt_box dl .closeBtn{width:40px;height:40px;line-height:38px;font-size:43px;font-weight:bold;color:#fff;text-align:center;background:#000;position:absolute;right:0%;top:0%;overflow:hidden;-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px;border:3px solid #fff;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.3);box-shadow:0px 0px 20px rgba(0,0,0,0.3);-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.3);-ms-box-shadow:0px 0px 20px rgba(0,0,0,0.3);-o-box-shadow:0px 0px 20px rgba(0,0,0,0.3);cursor:pointer;}*/
.swt_box dl .closeBtn{line-height:38px; width:55px; height:55px;font-size:43px;font-weight:bold;color:#fff;text-align:center;position:absolute;right:-8px;top:-8px;overflow:hidden;cursor:pointer;}
@media screen and (min-width:320px) and (max-width:600px){
	.swt_box{-webkit-transform:scale(0.77);-ms-transform:scale(0.77);-moz-transform:scale(0.77);-o-transform:scale(0.77);transform:scale(0.77);}
}
/* 新增弹窗 */
.swt_box1{width:0px;height:0px; opacity:0;position:fixed;left:0%;top:0%;margin:-205px 0px 0px -160px;background:url(../images/swtbg.jpg) no-repeat;-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.2);box-shadow:0px 0px 20px rgba(0,0,0,0.2);-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.2);-ms-box-shadow:0px 0px 20px rgba(0,0,0,0.2);-o-box-shadow:0px 0px 20px rgba(0,0,0,0.2);-webkit-border-radius:20px;-moz-border-radius:20px;-ms-border-radius:20px;-o-border-radius:20px;border-radius:20px;z-index:99;}

.sblcok{ display:block; top:50%}
.swt_box1 dl{width:100%;height:95%;margin:auto;padding-top:5%;position:relative;}
.swt_box1 dl dt{font-size:32px;line-height:35px;color:#991F8E;text-align:center;}
.swt_box1 dl dt span{font-size:22px;}
.swt_box1 dl dd{font-size:22px;line-height:32px;color:#0e86d9;text-align:center;}
.swt_box1 dl .tt1{ padding-bottom:10px}
.swt_box1 dl .tt1 img{ width:266px;}
.swt_box1 dl .setTime{ padding-top:15px;width:90%;font-size:16px;line-height:35px;margin:0.5% auto 2% auto; color:#252525}
.swt_box1 dl dd strong{color:#f42055;}
.swt_box1 dl .swt_link{width:100%;position:absolute;left:0px;bottom:0px;overflow:hidden;}
.swt_box1 dl .swt_link a{display:block;width:50%;float:left;color:#fff;font-size:24px; height:47px;line-height:47px;text-align:center;}
.swt_box1 dl .swt_link a:nth-child(1){background:#eb527d;border-radius:0 0 0 20px;-webkit-border-radius:0 0 0 20px;-moz-border-radius:0 0 0 20px;-ms-border-radius:0 0 0 20px;-o-border-radius:0 0 0 20px;}
.swt_box1 dl .swt_link a:nth-child(2){background:#0e86d9;border-radius:0 0 20px 0;-webkit-border-radius:0 0 20px 0;-moz-border-radius:0 0 20px 0;-ms-border-radius:0 0 20px 0;-o-border-radius:0 0 20px 0;}
.swt_box1 dl .swt_link a img{width:15%;margin-right:1.5%;vertical-align:-3px;}
.swt_box1 dl .closeBtn{line-height:38px; width:55px; height:55px;font-size:43px;font-weight:bold;color:#fff;text-align:center;position:absolute;right:-20px;top:-20px;overflow:hidden;cursor:pointer;}
@media screen and (min-width:320px) and (max-width:600px){
	.swt_box1{-webkit-transform:rotate(0deg) scale(0.77);-ms-transform:rotate(0deg) scale(0.77);-moz-transform:rotate(0deg) scale(0.77);-o-transform:rotate(0deg) scale(0.77);transform:rotate(0deg) scale(0.77);}
}

.td{ display:block;-webkit-animation:allitem_bounce 3s infinite linear;-moz-animation:allitem_bounce 3s infinite linear;-o-animation:allitem_bounce 3s infinite linear;-ms-animation:allitem_bounce 3s infinite linear;animation:allitem_bounce 3s infinite linear;}

@keyframes allitem_bounce{
0%,80%,84%,90%,96%,100%{-webkit-transform:translateY(0)}
88%{-webkit-transform:translateY(-6px)}
92%{-webkit-transform:translateY(-3px)}
}
@-webkit-keyframes allitem_bounce{
0%,80%,84%,90%,96%,100%{-webkit-transform:translateY(0)}
88%{-webkit-transform:translateY(-6px)}
92%{-webkit-transform:translateY(-3px)}
}
@-moz-keyframes allitem_bounce{
0%,80%,84%,90%,96%,100%{-moz-transform:translateY(0)}
88%{-moz-transform:translateY(-6px)}
92%{-moz-transform:translateY(-3px)}
}
@-o-keyframes allitem_bounce{
0%,80%,84%,90%,96%,100%{-o-transform:translateY(0)}
88%{-o-transform:translateY(-6px)}
92%{-o-transform:translateY(-3px)}
}
@-ms-keyframes allitem_bounce{
0%,80%,84%,90%,96%,100%{-ms-transform:translateY(0)}
88%{-ms-transform:translateY(-6px)}
92%{-ms-transform:translateY(-3px)}
}
