@charset "utf-8";
*{margin:0;padding:0;list-style:none;font-family:'Microsoft YaHei','STHeiti','MingLiu'; }
html{font-size:16px;font-family:'Microsoft YaHei';-ms-text-size-adjust:none;-webkit-text-size-adjust:none;}
body{max-width:750px;min-width:320px; margin:0 auto; overflow-x: hidden; position: static !important; background:url(../images/bg.jpg) repeat-y; padding-bottom:1.22rem;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}


img{border:0; vertical-align: middle;}
a{text-decoration:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ font-size:0; line-height:0; clear:both; overflow:hidden; zoom:1;}

.head{width:100%; margin:0 auto;background-color:#2e3641;padding-bottom:0.2rem;}
.head  img{width:52%; margin:0 auto; }
.head a img{width:8%; margin:0 auto;}


.top{width:100%; position:relative}
.top .logo{background-color:#333;}
.top .logo img{width:70%;}
.top .tel span img{width:0.27rem; margin-right:0.05rem; margin-bottom:0.025rem;}
.top .nav{height:1.05rem; width:100%; background-color:#3e0031;}
.top .nav ul{}
.top .nav ul li{width:1.04rem; height:0.9rem; float:right; background:url(../images/nav_line.png) no-repeat right; padding-right:0.02rem;}
.top .nav ul li dt{font-size:0.30rem; margin-top:0.3rem;}
.top .nav ul li dt a{color:#ffffff; display:block; width:1.04rem; text-align:center;}
.top .nav ul li dd{font-size:0.14rem;}
.top .nav ul li dd a{color:#61004d; display:block; width:1.04rem; text-align:center;}


.banner {position:relative; width:100%; overflow:hidden;}
.banner  .swiper-main{width:100%;overflow:hidden;margin:auto;}
.banner  .swiper-slide{width:100%;overflow:hidden;text-align:center;}
.banner  .swiper-slide img{width:100%;}
.banner .pag {text-align: center;height:0.2rem;position:absolute;bottom:0;left:0%; width:100%;z-index:5;}
.banner .pag .swiper-pagination-switch {display: inline-block;width: 0.15rem;height:0.15rem; margin-right:0.1rem;border-radius:0.15rem; background:#bdbdbd;vertical-align:top}
.banner .pag .swiper-active-switch {background:#8e61a7;}

.ztsyp{width:100%; margin:0 auto;height:auto;}
.ztsyp img{width:100%;display:block;}

.ztbls{width:100%; margin:0 auto;text-align:center;font-size:0.34rem;padding:0.1rem 0.2rem 0.28rem;color:#a1a1a1;}
.ztbls h1{font-size:0.42rem;margin:0.18rem 0;color:#5938bd;}
.ztbls h1 span{color:#474747;}
.ztbls img{width:80%;}
.ztbls_i {width:100%;}
.ztbls .ztbls_i img{width:100%;}

.ztbls_o{width:100%;height:auto; margin:0 auto;background-color:#dce4ef;float:left;font-size:0.32rem;margin-bottom:0.28rem;}
.ztbls_o img{float:left;height:auto;width:40%;padding-right:0.28rem;display:block;}
.ztbls_o h1{font-size:0.42rem;padding:0.28rem 0 0.18rem;}
.ztbls_o p{padding-top:0.18rem;}
.ztbls_o span{color:#4c4c4e;font-weight:bold;}

.ztbls_f{font-size:0.32rem;padding:0.38rem 0.28rem;color:#515151;}

